:root {
  --primary-color: #803b19;
  --secondary-color: #e97c30;
  --bg-color: #f9f5eb;
  --nav-bg-color: #f8ecd4;
  --text-color: #5c4033;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
}